NodeRed/NETIO4All-http-local.json
[
    {
        "id": "e50715ef.5ca908",
        "type": "tab",
        "label": "NETIO4All-http-local",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aea59b1.0e92a68",
        "type": "http request",
        "z": "e50715ef.5ca908",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.1.24/netio.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "19370115.62e52f",
                "cbb84d95.1246d"
            ]
        ]
    },
    {
        "id": "75f7038.85243fc",
        "type": "inject",
        "z": "e50715ef.5ca908",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "0",
        "payload": "{  \"Outputs\": [{   \"ID\": 1,   \"Action\": 0  }] }",
        "payloadType": "json",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "aea59b1.0e92a68"
            ]
        ]
    },
    {
        "id": "19370115.62e52f",
        "type": "debug",
        "z": "e50715ef.5ca908",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "8295169b.620498",
        "type": "inject",
        "z": "e50715ef.5ca908",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "{  \"Outputs\": [{   \"ID\": 1,   \"Action\": 1  }] }",
        "payloadType": "json",
        "x": 130,
        "y": 20,
        "wires": [
            [
                "aea59b1.0e92a68"
            ]
        ]
    },
    {
        "id": "cbb84d95.1246d",
        "type": "json",
        "z": "e50715ef.5ca908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 100,
        "y": 300,
        "wires": [
            [
                "60f99a8d.c8eee4"
            ]
        ]
    },
    {
        "id": "edd53053.b5e9b",
        "type": "debug",
        "z": "e50715ef.5ca908",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "60f99a8d.c8eee4",
        "type": "switch",
        "z": "e50715ef.5ca908",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload.outputs",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "edd53053.b5e9b"
            ]
        ]
    }
]